.headerPadre{
  background-color: #E0E7FF;
  text-align: center;
  margin: 0;
  height: 80px;
}
.headerPadre h2{
  padding-top: 1%;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 2px;
  font-size: 35px;
}
.characters{
  color: blue;
}

.personasPadre{
  padding: 3%;;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.tarjetaHijo{
  align-items: center;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1px;
  width: 50%;
  height: 100%;
}
.tarjetaPadre{
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  border-radius: 2%;
  background-color: #E0E7FF;

}
.tarjetaHijo h3{
 color:  blue;
}
body{
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}
.imagenTarjeta{
  padding: 1px;
  width: 100%;
  height: 100%;
}
.footerPadre{
  background-color: #E0E7FF;
  text-align: center;
  margin: 0;
  height: 120px;
}
.footerPadre h2{
  padding-top: 2%;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
}

.filtrosPadre{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.tarjetaImagen {
  width: 50%;
  height: 100%;
}

.orderBy{
  margin-right:10px;
}

.botonesMover{
  padding-top: 1%;
  display: flex;
  justify-content: space-between;
}
.flechitas{
  width: 50px;
}

button{
  font-family: 'Varela Round', sans-serif;
  border: transparent;
}
.borrar{
  background-color: #EA3838;
  margin-left: 3%;
}
.cantidadAgregar{
  margin-right: 1%;
}
.botonVista{
  padding-left: 2%;
  padding-right: 2%;
}